<div class="todoContainer" [ngStyle]="{ 'background-image': 'url(' + todoContainer.backgroundImage + ')'}">

    <div class="titleContainer">
        <h1>TODO</h1>
        <span *ngIf="this.colorScheme; then Sun else Moon"></span>
        <ng-template #Moon>
            <img (click)="changeColorScheme()" src="..\assets\images\icon-moon.svg" alt="moon">
        </ng-template>
        <ng-template #Sun>
            <img (click)="changeColorScheme()" src="..\assets\images\icon-sun.svg" alt="sun">
        </ng-template>
    </div>

    <div class="inputContainer">
        <input type="text" (keyup)="keyFunc($event)">
    </div>

    <div class="listContainer">
        <div *ngFor="let element of todoList">
            <mat-checkbox id="{{element.id}}" color="#FFFFFF" (change)="setCheck($event)" [ngStyle]="{
                'checked': element.checked,
                'border-bottom': checkbox.borderColor,
                'background-color': checkbox.backgroundColor,
                'border-radius': isItRounded(element.id), 
                'color': checkbox.fontColor
            }">
                {{element.todo}}
            </mat-checkbox>
        </div>
    </div>

    <p>{{this.countNotChecked()}} items left</p>

    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io/challenges/todo-app-Su1_KokOW">Frontend Mentor</a>. Coded by <a href="https://github.com/epeat96">Epeat</a>.
    </div>

    <p>This is the resolution: {{this.innerWidth}} x {{this.innerHeight}}</p>
    <p>It is a desktop resolution: {{this.deviceType}}</p>
    <p>The colorscheme is: {{this.colorScheme}}</p>
</div>